body {
   font-family: $oswald;
}
/*services*/
.services-wrapper {
   width: 100%;
   background: $alabaster;
   .services {
      margin-top: 61px;
      margin-bottom: 43px;
      .txt-holder {
         text-align: center;
         h1 {
            color: $emperor;
            font-size: 16px;
            line-height: 18px;
            font-weight: 400;
            margin-bottom: 20px;
         }
         span {
            color: $black;
            font-size: 30px;
            line-height: 32px;
            font-weight: bold;
            margin-bottom: 43px;
            position: relative;
            word-spacing: 2.4px;
            letter-spacing: 0.3px;
            &:before {
               content: "";
               position: absolute;
               background: #ffe600;
               height: 3px;
               width: 170px;
               bottom: -25px;
               left: calc(50% - 85px);
            }
         }
         p {
            color: $doveGray;
            font-size: 16px;
            line-height: 25px;
            font-weight: 300;
            word-spacing: 1.1px;
            letter-spacing: -0.05px;
         }
      }
      @include media-breakpoint-down(sm) {
         margin-top: 40px;
         margin-bottom: 10px;
      }
   }
   .services-in-details {
      margin-bottom: 48px;
      position: relative;
      .srv-ico {
         margin: auto;
         margin-bottom: 22px;
         width: 108px;
         height: 108px;
         border: 1px solid transparent;
         border-radius: 50%;
         background: $turbo;
         position: relative;
         .sets-srv-ico:after {
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            top: calc(50% - 20px);
            right: calc(50% - 20px);
         }
         .ico-web:after {
            background: url("../images/sprite/sprite.svg#ico-web") no-repeat;
         }
         .ico-graphic:after {
            background: url("../images/sprite/sprite.svg#ico-graphic") no-repeat;
         }
         .ico-photo:after {
            background: url("../images/sprite/sprite.svg#ico-photo") no-repeat;
         }
         .ico-developing:after {
            background: url("../images/sprite/sprite.svg#ico-developing") no-repeat;
         }
      }
      .styled-ico {
         border: 1px solid $shark;
         background: none;
      }
      .details-heading {
         color: $woodsmoke;
         font-size: 20px;
         line-height: 22px;
         letter-spacing: 1.05px;
         font-weight: bold;
         margin-bottom: 18px;
         text-align: center;
      }
      p {
         color: $doveGray;
         font-size: 16px;
         line-height: 25px;
         font-weight: 300;
         text-align: center;
      }
      @include media-breakpoint-down(sm) {
         margin-bottom: 0;
         .col-sm-12 {
            margin-bottom: 30px;
         }
      }
   }
}
/*profile*/
.profile-wrapper {
   width: 100%;
   min-height: 470px;
   background: $bunker;
   .txt-holder {
      text-align: center;
      margin-top: 61px;
      @include media-breakpoint-down(lg) {
         margin-top: 30px;
      }
      @include media-breakpoint-up(lg) {
         margin-bottom: 134px;
      }
      h1 {
         color: $turbo;
         font-size: 30px;
         line-height: 32px;
         font-weight: bold;
         margin-bottom: 19px;
         letter-spacing: 0.6px;
         word-spacing: 0.15px;
      }
      p {
         color: $white;
         font-size: 16px;
         list-style: 18px;
         font-weight: 300;
      }
   }
   .profile-in-details {
      .profile-heading {
         color: $white;
         font-size: 20px;
         line-height: 22px;
         font-weight: bold;
         letter-spacing: 0.9px;
         margin-bottom: 22px;
         text-align: center;
      }
      p {
         color: $white;
         font-size: 16px;
         line-height: 20px;
         font-weight: 300;
         text-align: center;
      }
      .prf-ico {
         position: relative;
         .sets-prf-ico:after {
            content: "";
            position: absolute;
            height: 45px;
            width: 45px;
            top: -73px;
            left: calc(50% - 22px);
         }
         .ico-analyse:after {
            background: url("../images/sprite/sprite.svg#ico-analyse") no-repeat;
         }
         .ico-preparing:after {
            background: url("../images/sprite/sprite.svg#ico-preparing") no-repeat;
         }
         .ico-working:after {
            background: url("../images/sprite/sprite.svg#ico-working") no-repeat;
         }
         .ico-finalyse:after {
            background: url("../images/sprite/sprite.svg#ico-finalyse") no-repeat;
         }
         .ico-testing:after {
            background: url("../images/sprite/sprite.svg#ico-testing") no-repeat;
         }
         .ico-deliver:after {
            background: url("../images/sprite/sprite.svg#ico-deliver") no-repeat;
         }
      }
      @include media-breakpoint-down(lg) {
         .profile-col {
            margin-top: 85px;
         }
      }
      @include media-breakpoint-down(md) {
         .profile-col {
            &:last-child {
               margin-bottom: 20px;
            }
         }
      }
   }
}
